<div class="header">
<div class="container">
<div class="row">
<div class="col-md-6 p-5">
<h3 class="title">Lorem ipsum</h3>
<p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
</div>
<div class="col-md-6 p-5">
  
</div>
</div>
</div>
</div>
